@import colors.sass

=status_cell
  float: left
  width: 2%
  height: 100%

.testcase_list_element
  border: 
    size: 1px
    style: solid
    color = !DARK_GRAY
  width: 90%
  margin: 10px auto
  padding: 7px
  height: 55px

  .title_cell
    font-size: 1.5em
    vertical-align: middle
    float: left
    width: 70%
    margin-left: 10px
    height: 50%
    margin:
      top: 5px
      bottom: 2px

    .result_cell
      font-size: 8pt
      margin:
        top: 5px

  .info_cell
    float: left
    width: 25%
    margin-left: 10px
    height: 50%
    font-size: 10pt

  .status_cell_failure
    +status_cell
    background = !RED

  .status_cell_success
    +status_cell
    background = !BASE_GREEN

  .status_cell_pending
    +status_cell
    background = !ALUMINIUM

#testcase_step_attributes__description
  width: 600px
  height: 150px

#testcase_title
  width: 600px
  font-size: 14pt

.test_step
  margin-left: 10px
  border-left:
    width: 3px
    style: solid
    color = !ALUMINIUM
  padding-left: 20px

#steps_menu
  padding-top: 10px
  width: 600px
  text-align: right
  
p.remove_link
  width: 600px
  text-align: right
  
.bold
  font-weight: bold

.successful_teststep_result
  border:
    width: 2px
    style: solid
    color = !LIGHT_GREEN

.failed_teststep_result
  border:
    width: 2px
    style: solid
    color = !RED

.step_description
  padding: 5px
  margin: 10px
  
  .number
    font-size: 16pt
    color: #aaaaaa
    clear: both
    float: left
    margin-right: 15px
  p
    margin-left: 15px
    font-size: 11pt