.test_step
  %h2 Step ##
  - fields_for "testcase[step_attributes][]", step do |step_form|
    = step_form.label :description
    %br
    = step_form.text_area :description
  %p.remove_link removelink
