.testcase_list_element
  %div{ :class => "status_cell_#{testcase.status}" }
  .title_cell
    = link_to testcase.title, :action => 'show', :id => testcase
    .result_cell
      Filed under:
      %span.tag
        1.70 Build 83
      %span.tag
        Hotfixes
      %span.tag
        Probably unstable
  .info_cell
    %span
      Last executed by:
    %span.bold
      Oliver
    %span
      on #{testcase.created_at.to_s(:short)}
  
