.testcase_list_element
  %div{ :class => "status_cell_#{testcase.status}" }
  .title_cell
    = link_to testcase.title, testcase_path(testcase)
    .result_cell
      Filed under:
      = render partial: 'testcases/show_tags', locals: { tags: testcase.tags } if testcase.tags
  .info_cell
    %span
      Last executed by:
    %span.bold
      Jünther
    %span
      on #{testcase.last_executed_time}
  
