.testcase_list_element
  %div{ :class => "status_cell_#{testcase.status}" }
  .title_cell
    = link_to testcase.title, :action => 'show', :id => testcase
    .result_cell
      Filed under:
      - testcase.tags.each do |t|
        %span.tag
          = link_to t.name, tag_path(t)
  .info_cell
    %span
      Last executed by:
    %span.bold
      Oliver
    %span
      on #{testcase.created_at.to_s(:short)}
  
