%h1 Listing tags

%form
  %input{:type => "text", :name => "s"}
  %input{:type => :submit}


%p this should later be ordered by usage (most used on top)
- for tag in @tags
  %div
    1.
    = link_to tag.name, tag
    (used 21041 times)