%h1 Listing tags

%form
  %input{:type => "text", :name => "s"}
  %input{:type => :submit}


%p this should later be ordered by usage (most used on top)
- i = 0
- for tag in @tags
  %div
    %span.number
      = i += 1
    = link_to tag.name, tag
    (used
    = tag.testcase_ids.length
    times)