%p
  %b Teststep:
  =h @teststep_result.teststep

%p
  %b Result:
  =h @teststep_result.result


= link_to 'Edit', edit_teststep_result_path(@teststep_result)
|
= link_to 'Back', teststep_results_path
