%p
  This is the menu. Blah blah blah.
  = icon_url icon: :bullet_black, url: '/testcases', text: 'Testcases'
  = icon_url icon: :bullet_black, url: '/testsuites', text: 'Testsuites'
  = icon_url icon: :bullet_black, url: '/tags', text: 'Tags'